<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src={{ frontEndBundle }}></script>
  </head>
  <body>
    <div data-app data-component-props={{ appConfig }} />
  </body>
</html>